server:
  port: 8082
  servlet:
    context-path: /api

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://vdebian.local:3306/javacode?serverTimezone=GMT%2B8
    username: root
    password: 11223300
    driver-class-name: com.mysql.cj.jdbc.Driver